<div class="gv-wrapper">
    <div class="gv-interactive pmi">

        <h1 class="gu-graphic-header">Activity levels</h1>
        <div class="gv-key">All sector PMI, output index. Values above 50 indicate growth, below 50, contraction</div>
        <div class="gv-key">
            <span class="gv-blob china"></span><span>China</span>
            <span class="gv-blob us"></span><span>US</span>
            <span class="gv-blob eurozone"></span><span>Eurozone</span>
            <span class="gv-blob uk"></span><span>UK</span>
        </div>
        <svg class="pmi"></svg>
        <div class="gv-source">Source: IHS Markit</div>

    </div>

</div>